.loader_content h2::before {
    content: none;
}

.step_three_content h2::before {
    content: none;
}

.step_two_content p::before {
    content: none;
}

.textareaCon::before {
    content: none;
}

.buttons button:nth-child(1) span::before {
    content: none;
}
