.aside {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1b1c1e;
  padding-top: 20px;
  transition: width 0.3s ease-in-out;
}

.mainLogo {
  width: 195px;
  margin: auto;
}

.sidebar_items ul {
  margin: 40px 0 0 50px;
}

.sidebar_items ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.sidebar_items ul li svg {
  fill: #a3a4a4;
  stroke: #a3a4a4;
  height: 16px;
  margin: 0;
  width: 16px;
}

.sidebar_items p {
  color: #b1b1b1;
}

.sidebar_items ul li:hover svg,
.sidebar_items ul li:hover p {
  fill: #fafafa;
  color: #fafafa;
}

.hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.hamburgerLine {
  width: 25px;
  height: 2px;
  background-color: #a3a4a4;
  margin: 2px 10px;
  transition: transform 0.3s ease-in-out;
}

.open .hamburgerLine:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .hamburgerLine:nth-child(2) {
  opacity: 0;
}
.hamburger .hamburgerLine:nth-child(2) {
  margin-left: 15px;
}

.open .hamburgerLine:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobileLogo {
  display: none;
}
.mainList {
  display: block;
}
.mobileList {
  display: none;
}
@media screen and (max-width: 1023px) {
  .aside {
    width: 0;
    padding: 20px 0;
    transition: width 0.3s ease-in-out;
    z-index: 1;
  }

  .hamburger {
    display: block;
  }

  .open {
    width: 300px;
  }

  .open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  .mainLogo {
    display: none;
  }
  /* ... existing styles */

  .closeIcon {
    fill: #a3a4a4;
    stroke: #a3a4a4;
    height: 16px;
    width: 16px;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    float: right;
  }

  .open .closeIcon {
    transform: translate(40%, 300%);
    border: 3px solid #a3a4a4;
    border-radius: 50%;
    padding: 6px;
  }

  .mobileLogo {
    display: block;
    width: 60%;
    margin: auto;
  }
  .mainList {
    display: none;
  }
  .open .mobileList {
    display: block;
  }
}
