body {
  margin: 0;
  padding: 0;
  background: #121314;
}
*,
*::after,
*::before {
  list-style: none;
  text-decoration: none;
  padding: 0;
}
h1,
h2,
h3 {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin: 20px 0;
}
p {
  margin: 20px 0;
}
p,
span {
  color: #fff;
  font-family: 'Inter', sans-serif;
}
a {
  font-family: 'Inter', sans-serif;
}
svg {
  color: #fff;
}
button {
  border: none;
  border-radius: 8px;
}
